@import 'tailwindcss/base';

html {
    @apply font-sans antialiased text-gray-900 bg-gray-50;
}

@import 'tailwindcss/components';

.prose {
    @apply text-base leading-relaxed text-gray-600;

    & h1 {
        @apply text-4xl leading-10 font-extrabold text-gray-900;
    }
    & h2 {
        @apply text-lg font-semibold leading-7 text-gray-900;
    }
    & ul li {
        @apply relative pl-5;
    }
    & ul li::before {
        content: '';
        @apply absolute left-0.5 top-2.5 block h-1.5 w-1.5 rounded-full bg-gray-300;
    }
    & a {
        @apply underline text-gray-900;
    }
    & * + h2 {
        @apply mt-8;
    }
    & * + ol {
        @apply mt-4;
    }
    & * + ul {
        @apply mt-4;
    }
    & * + li {
        @apply mt-3;
    }
    & * + p {
        @apply mt-4;
    }
    & h2 + p {
        @apply mt-2;
    }
    & .attachment-gallery {
        @apply flex flex-wrap relative -mx-4 my-4;
    }
    & .attachment-gallery .attachment {
        @apply px-4 my-0;
        flex: 1 0 33%;
        max-width: 33%;
    }
    & .attachment-gallery.attachment-gallery--2 .attachment,
    & .attachment-gallery.attachment-gallery--4 .attachment {
        flex-basis: 50%;
        max-width: 50%;
    }
    & figure > a > img {
        @apply mt-0 mb-0;
    }
}

@import 'tailwindcss/utilities';
